[data-theme="dark"] {
  --main-color: #23272f;
  --secondary-color: #333a45;
  --nav-color: #333a45;
  --opacity-color: #23272fce;
  --loading-screen-color: #212529a2;
  --secondary-opacity-color: #333a45;
  --text-color: white;
  --footer-color: #212529;
  --span-color: #2a2e39;
}

[data-theme="light"] {
  --main-color: #fff;
  --secondary-color: ##f7f8f9;
  --nav-color: #f4f5f7;
  --opacity-color: #ffffffce;
  --loading-screen-color: #f7f8f9a2;
  --secondary-opacity-color: #f7f8f9a4;
  --text-color: black;
  --footer-color: #f5f6f7;
  --span-color: #eeeeee;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4392e0;
  border-radius: 20px;
}

body {
  background-repeat: no-repeat;
  background-color: var(--main-color);
  transition: 0.5s;
}
* {
  color: var(--text-color);
  list-style: none;
}
i {
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#main_background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 120vh;
  background: linear-gradient(var(--opacity-color), var(--opacity-color)),
    url("../imgs/bg.jpg");
  background-size: cover;
}
#details-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background: linear-gradient(var(--opacity-color), var(--opacity-color)),
    url("../imgs/bg.jpg");
  background-size: cover;
}
#details-bg.form_page {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background: linear-gradient(var(--opacity-color), var(--opacity-color)),
    url("../imgs/form_bg.jpg");
  background-size: cover;
}
.navbar-nav {
  padding: 10px 80px;
  border-radius: 40px;
  background-color: var(--nav-color);
}

nav .navbar-brand {
  & img {
    width: 60px;
  }

  & .title {
    line-height: 22px;
  }
}

nav ul li {
  cursor: pointer;
}

nav ul li:hover i,
nav ul li:hover a {
  color: #4392e0 !important;
}

.user_controls i {
  font-size: 25px;
}

.nav-item {
  font-weight: 600;
  & a {
    color: var(--text-color);
  }
}

.nav-info {
  font-weight: 500;
}
nav .profile_section .username_info {
  text-decoration: underline;
  cursor: pointer;
}

nav .profile_section .logoutBtn {
  cursor: pointer;
}
/* start main section */

.see_more {
  background-color: #4799eb;
  color: #fff;
  padding: 10px 20px;
  width: 150px;
  font-weight: 500;
  &:hover {
    background-color: #4392e0;
  }
  & i {
    color: white;
  }
}

.main-bg {
  background: url("../imgs/games/LOL.png");
  background-position: center;
  background-size: cover;
  height: 700px;
  border-radius: 25px;

  .details {
    .game_name {
      font-size: 40px;
      color: white;
    }

    .game_description {
      color: white;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .price {
      font-size: 30px;
      color: white;
      font-weight: 500;
    }
  }
  .carousel-inner {
    border-radius: 20px;
  }
  .games {
    .game {
      background: url(imgs/games/LOL.png);
      width: 150px;
      height: 100px;
      border-radius: 20px;
      background-position: center !important;
      background-size: cover !important;
      cursor: pointer;
    }
  }
}

#main .slider.no-transition {
  scroll-behavior: auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.h3 {
  font-size: 40px;
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 35%;
    height: 2px;
    background: var(--secondary-color);
    z-index: 1;
  }
}

.h3.form-title::before {
  background: #4392e0;
}
#games_ {
  #category_options {
    width: 130px;
    padding: 0 15px;
    outline: none;
    height: 40px;
  }
}
.card {
  background: var(--secondary-color);
  border-radius: 20px !important;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px 2px #4391e033;
  }
  .card-title {
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .spans {
    span {
      background-color: var(--span-color);
      padding: 0 10px;
      border-radius: 5px;
    }
  }
}
.games_main_row {
  gap: 50px;
}

option {
  color: black;
}

#features .container {
  background-color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 4px 10px 40px 1px #0000001e;
  .feature h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .feature p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

#reviews .review {
  background: var(--secondary-color);
  border-radius: 20px;
  padding: 60px 15px 20px;
  & i {
    color: #ffd700;
  }
  & img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
}

#games_categories {
  .category {
    color: white;
    & h4 {
      font-size: 30px;
    }
    padding: 0px 20px;
    height: 280px;
    border-radius: 20px;
    & .category_img {
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 30px 5px #0000005b;
    }
    &:hover.img {
      transform: scale(1.02);
      box-shadow: 0 0 30px 5px #0000005b;
    }
  }
}

footer {
  background: var(--footer-color);
  .brand_logo img {
    width: 70px;
    cursor: pointer;
  }
  .links a {
    color: var(--text-color);
    text-decoration: none;
  }
}
@media (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}

.details_page {
  .main-img {
    height: 500px;
    border-radius: 20px;
  }
  .small_img {
    width: calc((100% / 3) - 25px);
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
  }
  .game_description {
    font-size: 25px;
    line-height: 32px;
  }
  .genres {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      border-radius: 2px;
      background-color: var(--secondary-color);
    }
    & h6 {
      font-size: 16px;
    }
    & p {
      font-size: 20px;
      text-decoration: underline;
    }
  }
  .min_req {
    background-color: var(--secondary-color);
    border-radius: 20px;
    & p {
      margin: 0;
    }
  }
}

body.form_page {
  height: 100vh;
}

#register_page,
#login_page {
  & img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  .form-row {
    width: 900px;
    background-color: var(--secondary-opacity-color);
    backdrop-filter: blur(5px);
    padding: 30px 20px;
    border-radius: 20px;
    .input_container {
      &.input_name_container {
        gap: 5px;
      }
      & input {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
  .input_col {
    width: fit-content;
  }
}

@media (max-width: 1199px) {
  nav .navbar-nav {
    padding: 10px 40px;
  }

  #games_ {
    .card-body .spans {
      flex-direction: column !important;
      gap: 15px;
      text-align: center;
    }
  }
}
@media (max-width: 991px) {
  nav .navbar-nav {
    padding: 10px 10px;
  }
  #register_page {
    .input_col {
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  #register_page {
    .image {
      display: none;
    }
    .input_col {
      width: 100%;
    }
  }

  #login_page {
    .image {
      display: none;
    }
    .login_form_row {
      height: auto !important;
    }
  }
  .details_page {
    .thumbnail-col {
      width: 100% !important;
    }
    .main-img {
      height: 300px;
    }

    .small_img {
      height: 150px;
    }
  }
}

@media (max-width: 575px) {
  .carousel-item {
    width: 100% !important;
  }
}

.loading {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: var(--loading-screen-color);
  backdrop-filter: blur(5px);
}

.loading .loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  color: var(--text-color);
}
.loading .loader:before,
.loading .loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loading .loader:after {
  color: #4392e0;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
